nextflow.enable.moduleBinaries = true

docker.enabled = true

//params.modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/modules/data/"
params.modules_testdata_base_path = "/lustre/scratch126/cellgen/cellgeni/tl10/modules/modules/sanger/postcode/tests/"

process.ext.args = "--codebook_target_col L-probe"